# node.js
#
node_modules/
#npm-debug.log
yarn-error.log
.expo/
#.expo/settings.json

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
